span{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background: url('https://source.unsplash.com/800x600/?nature') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}